/*/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

body {
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
  width: 90%;
  margin: 0 auto;
}

/* Section Styles */
.name {
	padding-bottom: 20px;
	font-size: 1.75em;
	background: #f7f5f0;

}
.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  text-align: center;
  z-index: 999;
  border: /*solid red 1px;*/ /*CHANGE*/
}

.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
	text-transform: uppercase;
	color: #525252;
	padding: 10px;
}

.main-nav {
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
}
.main-nav a:hover {
  color: #808080;
}

a {
	text-decoration: none;
	color: #525252;
}

header {
  line-height: 1.5;
}
.profilepic {
  /*border: solid red 1px;*/ /*CHANGE*/
  max-width: 65%;
  margin: auto;
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
}

.info {
	text-align: center;
	font-size: 1.25em;
	font-weight: lighter;
	color: #525252;
	max-width: 90%;
	display: inline-block;
	padding-bottom: 20px;
}

.portfolio {
	font-size: 1.25em;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bodyimage {
	max-width: 90%;
}

.pages {
	line-height: 1.5;
	background-color: white;
}

h1 {
	max-width: 100%;
	display: block;
	color: #525252;
	margin-top: 15px;
	margin-bottom: -5px;
}

p {
	max-width: 85%;
	color: #525252;
	display: inline-block;
}

#contact {
	text-transform: uppercase;
	font-size: 1.25em;
	padding-top: 30px;
}

.footer {
	display: inline-block;
}
footer ul li{
  display: inline-block;
  max-width: 90%;
}

#bottomname {
	float:left;
	color: #525252;
	font-weight: bold;
}

#b2t {
	font-weight: bold;
}

.footernav {
	border-top: solid lightgrey 1px;
	max-width: 100%;
	align-content: center;
	margin: 15px;
}

.clearfix {
  clear: both;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1023px;
}

.name {
	text-align: center;
}

.main-nav {
	float: right;
}

.main-nav li {
	display: inline-block;
	margin-left: 15px;
	background: none;
}

.profilepic {
	float:right;
	display: inline;
}

.card {
	float: left;
	width: 50%;
}


	/* ---- Float clearfix ---- */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {
.container {
	width: 80%;
	max-width: 1150px;
	}

.card {
	float: left;
	width: 30%;
	}



}

